/*Fuentes*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6qayjz');
  src:  url('../fonts/icomoon.eot?6qayjz#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6qayjz') format('truetype'),
    url('../fonts/icomoon.woff?6qayjz') format('woff'),
    url('../fonts/icomoon.svg?6qayjz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel:before {
  content: "\ea0d";
}
.burguer-button{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #395667;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 3;
}
/*Fuentes*/
body{
  margin: 0;
}
header{
  position: relative;
}
table{
  width: 100%;
}
th{
  background: #273b47;
  color: white;
  padding: 10px 20px;
  text-align: left;
}

td{
  padding: 20px;
}
table, th, td{
  border: 1px solid #273b47;
  border-collapse: collapse;
}
.boton{
  border-radius: 12px;
  border: none;
  background: #fd324e;
  color: white;
  padding: 7px 12px;
  font-size: 18px;
  background: linear-gradient(to left, #fe344e, #ff7250);
  cursor: pointer;
  text-decoration: none;
}

.titulo{
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 15px;
  opacity: 1;
}
.titulo:hover {
  opacity: 2;
  color: skyblue;
}
.titulo span{
  text-decoration: underline;
}
.resumen{
  font-size: 18px;
  margin-top: 0;
}

.titulo2{
  font-size: 60px;
  font-family: 'Allerta', sans-serif;
}
.invie-acustica{
  font-size: 50px;
  font-family: 'Gaegu', cursive;
  margin-bottom: 20px;
}
.invie-classic{
  font-size: 50px;
  font-family: 'Gaegu', cursive;
  margin-bottom: 20px;
}

.menu{
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 10px;
}

.menu li{
  display: inline-block;
  margin-left: 30px;
}

.menu li:before{
  content: '▸';
  font-size: 50px;
  line-height: 20px;
  color: blue;
}

.menu a{
  color: white;
  text-decoration: none;
}

.logotipo{
  display: inline-block;
  margin: auto;
  transition: .2s;
}

.logotipo:hover{
  transform: translateX(20px);
}

.contenedor{
  max-width: 800px;
  margin: auto;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contenedor_guitarra_derecho{
  padding-left: 20px;
}
.contenedor_guitarra_izquierdo{
  margin-left: 370px;
  position: relative;
  bottom: 90px;
}
.derecha{
  float: right;
  position: relative;
  top: -127px;
  transition: .2s;
}
.derecha:hover{
  transform: translateY(-20px);
}
.izquierda{
  float: left;
  position: relative;
  top: 40px;
  transition: .3s;
}
.izquierda:hover{
  transform: rotate(45deg);
}

.guitarra{
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.guitarra ol{
  padding: 0;
}

.footer{
  background: #273b47;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contacto img{
  display: block;
}
.contacto strong{
  display: block;
}

.contacto a{
  color: white;
  text-decoration: none;
  margin: 10px 10px 10px 0;
}

.formulario{
  display: flex;
  width: 500px;
  color: white;
  padding: 50px 10px;
}

.formulario label, sexo, .intereses{
  padding: 2px;
}

.columna1, .columna2{
  display: flex;
  flex-direction: column;
}

.columna1{
  margin-right: 15px;
}
.columna2{
  align-items: flex-start;
}

.intereses label{
  font-size: 10px;
}

.sexo{
  margin-top: 10px;
}

#portada{
  background-image: url("../images/background.png");
  background-size: cover;
  color: white;
  padding: 50px;
  height: 300px;
}
#portada boton{
  margin-bottom: 50px;
}

#guitarras{
  color: #1F313C;
}

/*Aqui estamos creando la segunda forma de crear media querie*/

@media screen and (max-width:800px) {
/*trabajando con la portada del sitio*/
  .titulo{
    font-size: 45px;
    margin-top: 30px;
  }

  .resumen{
    font-size: 18px;
  }

  #portada{
    height: auto;
  }

  #portada .boton{
    margin-bottom: 30px;
    display: inline-block;
  }

  /*Los elementos de guitarras*/

  #guitarras{
    text-align: center;
  }
  .izquierda, .derecha{
    float: none;
    position: static;
  }

  .invie-acustica{
    margin: 0;
  }

  .guitarra{
    height: auto;
  }

  .guitarra li {
    list-style: none;
  }

  .contenedor_guitarra_izquierdo{
    position: static;
    margin: 0;
  }

}

/* haciendo responsive en tabletas*/

@media screen and (max-width: 650px) {

  #header{
    text-align: center;
  }
  .menu{
    position: static;
    display: block;
  }
  /*con esta linea de codigo solo afectamos al primer li*/
  .menu li:first-child{
    margin: 0;
  }
  .menu ul{
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  /*Footer*/
  .footer .contenedor{
    display: block;
  }
  .contacto{
    margin: auto;
  }

  .formulario{
    display: block;
    margin:  auto;
    width: 300px;
    padding-top: 10px;
  }

  .intereses label{
    display: block;
    font-size: 16px;
  }
  .columna1{
    margin: 0;
  }
/*selector de atributos*/
  input[type="text"],
  input[type="email"]{
    font-size: 14px;
    padding: 5px;
  }

  textarea{
    width: 100%;
  }
  input[type="radio"],
  input[type="checkbox"]{
    zoom: 1.5;
  }
  /*Footer*/
}

/*la parte de móvil haciendolo de forma responsive*/

@media screen and (max-width:500px) {
/*esta parte es de la portada para movil*/
  #portada #header{
  position: static;
  }
  .contenedor{
    text-align: center;
  }
  .menu{
    background: rgba(255, 60, 88, .8);
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    transition: .3s;
  }
  .menu-active{
    left: 0;
  }
  .menu li{
    display: block;
    margin:0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }
  .menu ul{
    flex: 1;
  }
  .menu li:before{
    display: none;
  }

  .menu li:first-child{
    border-top: 1px solid white;
  }

  .titulo{
    font-size: 30px;
  }

/*aqui va la parte de la imagen */

  .guitarra img{
    width: 200px;
    height: auto;
  }
}
/*la parte de móvil haciendolo de forma responsive*/
